{% extends 'base.html.twig' %}

{% block body %}
    <h1>Users list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('user_show', { 'id': user.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('user_edit', { 'id': user.id }) }}">edit</a>
                        </li>
                        <li>
                            <button class="btn btn-danger js-delete-user" data-id="{{ user.id }}">delete</button>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_new') }}">Create a new user</a>
        </li>
    </ul>
            
    <script type="text/javascript">
        $('.js-delete-user').on('click', function() {
            var id = $(this).data('id');
            $.ajax({
                method: "DELETE",
                url: "http://localhost/sf/web/app_dev.php/user/" + id,
                dataType: "json"
            })
            .done(function( msg ) {
{#                alert( "Info: " + msg );#}
                location.reload();
            });
        });
    </script>
{% endblock %}
